* {font-family: 'Courier New', Courier, monospace;}

h1 {
    background-color: rgb(154, 202, 154);
    text-align: center;
}
img {
    width: 600px;
    height: auto;
    background-color: gray;
    }
a {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: larger;
}
h3 {
    font-style: oblique 50deg;
}